In [2]:
import warnings
import numpy as np 
# Ignore all warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd 
import matplotlib.pyplot as plt

In [21]:
# Importing the energy data 
df_energy = pd.read_csv('Data\energy_dataset.csv',parse_dates=['time'])

In [22]:
# 35064 rows and 29 columns
df_energy.shape

(35064, 29)

In [23]:
# To see the general information of all column 
pd.set_option('display.max_columns',None)
df_energy.describe()

,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,generation hydro pumped storage aggregated,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation marine,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
count,35045.000000,35046.000000,35046.0,35046.000000,35046.000000,35045.000000,35046.0,35046.0,35046.0,0.0,35045.000000,35045.000000,35046.000000,35045.0,35047.000000,35046.000000,35046.000000,35046.000000,35045.000000,35046.0,35046.000000,35064.000000,0.0,35064.000000,35064.000000,35028.000000,35064.000000,35064.000000
mean,383.513540,448.059208,0.0,5622.737488,4256.065742,298.319789,0.0,0.0,0.0,NaN,475.577343,972.116108,2605.114735,0.0,6263.907039,60.228585,85.639702,1432.665925,269.452133,0.0,5464.479769,1439.066735,NaN,5471.216689,28712.129962,28696.939905,49.874341,57.884023
std,85.353943,354.568590,0.0,2201.830478,1961.601013,52.520673,0.0,0.0,0.0,NaN,792.406614,400.777536,1835.199745,0.0,839.667958,20.238381,14.077554,1680.119887,50.195536,0.0,3213.691587,1677.703355,NaN,3176.312853,4594.100854,4574.987950,14.618900,14.204083
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN,237.000000,18105.000000,18041.000000,2.060000,9.330000
25%,333.000000,0.000000,0.0,4126.000000,2527.000000,263.000000,0.0,0.0,0.0,NaN,0.000000,637.000000,1077.250000,0.0,5760.000000,53.000000,73.000000,71.000000,240.000000,0.0,2933.000000,69.000000,NaN,2979.000000,24793.750000,24807.750000,41.490000,49.347500
50%,367.000000,509.000000,0.0,4969.000000,4474.000000,300.000000,0.0,0.0,0.0,NaN,68.000000,906.000000,2164.000000,0.0,6566.000000,57.000000,88.000000,616.000000,279.000000,0.0,4849.000000,576.000000,NaN,4855.000000,28906.000000,28901.000000,50.520000,58.020000
75%,433.000000,757.000000,0.0,6429.000000,5838.750000,330.000000,0.0,0.0,0.0,NaN,616.000000,1250.000000,3757.000000,0.0,7025.000000,80.000000,97.000000,2578.000000,310.000000,0.0,7398.000000,2636.000000,NaN,7353.000000,32263.250000,32192.000000,60.530000,68.010000
max,592.000000,999.000000,0.0,20034.000000,8359.000000,449.000000,0.0,0.0,0.0,NaN,4523.000000,2000.000000,9728.000000,0.0,7117.000000,106.000000,119.000000,5792.000000,357.000000,0.0,17436.000000,5836.000000,NaN,17430.000000,41390.000000,41015.000000,101.990000,116.800000

In [24]:
# Delete column which contains only '0' value 
columns_zero = df_energy.columns[(df_energy.min() == 0) & (df_energy.max()==0)]

df_energy.drop(columns = columns_zero, inplace = True)

In [25]:
# And also drop columns which contains only NA value 
df_energy.dropna(axis = 1, how='all',inplace=True)

In [26]:
# We can see that now several columns have small amount of NA values
df_energy.isna().sum()

time                                            0
generation biomass                             19
generation fossil brown coal/lignite           18
generation fossil gas                          18
generation fossil hard coal                    18
generation fossil oil                          19
generation hydro pumped storage consumption    19
generation hydro run-of-river and poundage     19
generation hydro water reservoir               18
generation nuclear                             17
generation other                               18
generation other renewable                     18
generation solar                               18
generation waste                               19
generation wind onshore                        18
forecast solar day ahead                        0
forecast wind onshore day ahead                 0
total load forecast                             0
total load actual                              36
price day ahead                                 0
price actual                                    0
dtype: int64

In [27]:
# For these NA values, we should interpolate
df_energy = df_energy.fillna(method='ffill')

In [28]:
# And we will make our row index the time information
df_energy['time'] = pd.to_datetime(df_energy['time'],utc=True, infer_datetime_format=True)
df_energy = df_energy.set_index('time')

In [11]:
df_energy.head()

,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
time,,,,,,,,,,,,,,,,,,,,
2014-12-31 23:00:00+00:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41
2015-01-01 00:00:00+00:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92
2015-01-01 01:00:00+00:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48
2015-01-01 02:00:00+00:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,75.0,50.0,191.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32
2015-01-01 03:00:00+00:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,43.0,74.0,42.0,189.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04

## Weather

In [45]:
# Importing the weather data 
df_weather = pd.read_csv('Data\weather_features.csv', parse_dates=['dt_iso'])

In [46]:
# Thanksfully, there is no NA value.
df_weather.isna().sum(axis=0)

dt_iso                 0
city_name              0
temp                   0
temp_min               0
temp_max               0
pressure               0
humidity               0
wind_speed             0
wind_deg               0
rain_1h                0
rain_3h                0
snow_3h                0
clouds_all             0
weather_id             0
weather_main           0
weather_description    0
weather_icon           0
dtype: int64

In [47]:
# Let's see the first 5 rows 
df_weather.head()

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [48]:
df_weather['weather_description'].value_counts()

weather_description
sky is clear                    82685
few clouds                      32101
broken clouds                   17448
scattered clouds                15945
light rain                      10905
mist                             3908
moderate rain                    3621
overcast clouds                  2561
fog                              2506
light intensity drizzle          1241
heavy intensity rain             1142
light intensity shower rain       657
proximity thunderstorm            480
proximity shower rain             476
haze                              435
shower rain                       426
drizzle                           369
dust                              345
thunderstorm                      309
light snow                        140
thunderstorm with rain            127
thunderstorm with light rain       92
heavy intensity shower rain        81
light intensity drizzle rain       79
very heavy rain                    78
snow                               74
smoke                              33
thunderstorm with heavy rain       31
light rain and snow                20
rain and drizzle                   19
heavy intensity drizzle            14
rain and snow                      13
sleet                              13
proximity moderate rain             4
heavy snow                          3
light shower sleet                  3
light shower snow                   3
light thunderstorm                  2
sand dust whirls                    2
proximity drizzle                   2
shower sleet                        1
ragged shower rain                  1
squalls                             1
Name: count, dtype: int64

In [49]:
values_counts = df_weather['weather_description'].value_counts()

In [51]:
top_5_values = values_counts.head(5).index.tolist()
df_weather.loc[~df_weather['weather_description'].isin(top_5_values),'weather_description'] = 'others'

In [52]:
df_weather['weather_description'].value_counts()

weather_description
sky is clear        82685
few clouds          32101
others              19312
broken clouds       17448
scattered clouds    15945
light rain          10905
Name: count, dtype: int64

In [53]:
# Drop the variable relevant to weather information beside 'weather_description'
columns_drop_weather = ['weather_id','weather_main','weather_icon']
df_weather.drop(columns=columns_drop_weather, inplace=True)

In [56]:
dummy_df = pd.get_dummies(df_weather['weather_description'],prefix='weather')
dummy_df = dummy_df.apply(lambda x: x.astype(bool).astype(int))

In [58]:
df_weather = pd.concat([df_weather.loc[:,df_weather.columns !='weather_description'],dummy_df],axis=1)

In [60]:
# Also temp_min and temp_max are mostly duplicate with 'temp' variable 
df_weather.drop(columns = ['temp_min','temp_max'])

,dt_iso,city_name,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_broken clouds,weather_few clouds,weather_light rain,weather_others,weather_scattered clouds,weather_sky is clear
0,2015-01-01 00:00:00+01:00,Valencia,270.475,1001,77,1,62,0.0,0.0,0.0,0,0,0,0,0,0,1
1,2015-01-01 01:00:00+01:00,Valencia,270.475,1001,77,1,62,0.0,0.0,0.0,0,0,0,0,0,0,1
2,2015-01-01 02:00:00+01:00,Valencia,269.686,1002,78,0,23,0.0,0.0,0.0,0,0,0,0,0,0,1
3,2015-01-01 03:00:00+01:00,Valencia,269.686,1002,78,0,23,0.0,0.0,0.0,0,0,0,0,0,0,1
4,2015-01-01 04:00:00+01:00,Valencia,269.686,1002,78,0,23,0.0,0.0,0.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178391,2018-12-31 19:00:00+01:00,Seville,287.760,1028,54,3,30,0.0,0.0,0.0,0,0,0,0,0,0,1
178392,2018-12-31 20:00:00+01:00,Seville,285.760,1029,62,3,30,0.0,0.0,0.0,0,0,0,0,0,0,1
178393,2018-12-31 21:00:00+01:00,Seville,285.150,1028,58,4,50,0.0,0.0,0.0,0,0,0,0,0,0,1
178394,2018-12-31 22:00:00+01:00,Seville,284.150,1029,57,4,60,0.0,0.0,0.0,0,0,0,0,0,0,1
178395,2018-12-31 23:00:00+01:00,Seville,283.970,1029,70,3,50,0.0,0.0,0.0,0,0,0,0,0,0,1

In [61]:
# Now we are going to change the int64 to float64 for being in line with df_energy

def df_convert_dtypes(df, convert_from, convert_to):
    cols = df.select_dtypes(include=[convert_from]).columns
    for col in cols:
        df[col] = df[col].values.astype(convert_to)
    return df
df_weather = df_convert_dtypes(df_weather, np.int64, np.float64)

In [62]:
df_weather['time'] = pd.to_datetime(df_weather['dt_iso'], utc=True, infer_datetime_format=True)
df_weather = df_weather.drop(['dt_iso'], axis=1)
df_weather = df_weather.set_index('time')

In [63]:
# Now let's see how many the number of rows for each city. 
# The each number has to be same with the number of energy dataset row
cities = df_weather['city_name'].unique()
grouped_weather = df_weather.groupby('city_name')
for city in cities:
    print('There are {} observations in df_weather'
          .format(grouped_weather.get_group('{}'.format(city)).shape[0]), 
          'about city: {}.'.format(city))
print('There are {} observations in df_energy.'.format(df_energy.shape[0]))
# Unfortunately, quite different.

There are 35145 observations in df_weather about city: Valencia.
There are 36267 observations in df_weather about city: Madrid.
There are 35951 observations in df_weather about city: Bilbao.
There are 35476 observations in df_weather about city:  Barcelona.
There are 35557 observations in df_weather about city: Seville.
There are 35064 observations in df_energy.

In [64]:
# If there is a duplicate row for time and city_name, that is an error
sum(df_weather.reset_index().duplicated(subset=['time','city_name'],keep=False))

5874

In [65]:
# So we have to erase that 
df_weather = df_weather.reset_index().drop_duplicates(subset=['time', 'city_name'],
                                                      keep='first').set_index('time')

In [66]:
# Now let's see how many observations each city has.
print('There are {} observations in df_energy.'.format(df_energy.shape[0]))

grouped_weather = df_weather.groupby('city_name')

for city in cities:
    print('There are {} observations in df_weather'
          .format(grouped_weather.get_group('{}'.format(city)).shape[0]), 
          'about city: {}.'.format(city))

There are 35064 observations in df_energy.
There are 35064 observations in df_weather about city: Valencia.
There are 35064 observations in df_weather about city: Madrid.
There are 35064 observations in df_weather about city: Bilbao.
There are 35064 observations in df_weather about city:  Barcelona.
There are 35064 observations in df_weather about city: Seville.

In [67]:
# Below is the process for merging energy dataset with weather information of each city
df_1, df_2, df_3, df_4, df_5 = [x for _, x in df_weather.groupby('city_name')]
dfs = [df_1, df_2, df_3, df_4, df_5]

df_final = df_energy

for df in dfs:
    city = df['city_name'].unique()
    city_str = str(city).replace("'", "").replace('[', '').replace(']', '').replace(' ', '')
    df = df.add_suffix('_{}'.format(city_str))
    df_final = df_final.merge(df, on=['time'], how='outer')
    df_final = df_final.drop('city_name_{}'.format(city_str), axis=1)
    
df_final.shape
# 35064 rows and 101 features.
df_final

,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual,temp_Barcelona,temp_min_Barcelona,temp_max_Barcelona,pressure_Barcelona,humidity_Barcelona,wind_speed_Barcelona,wind_deg_Barcelona,rain_1h_Barcelona,rain_3h_Barcelona,snow_3h_Barcelona,clouds_all_Barcelona,weather_broken clouds_Barcelona,weather_few clouds_Barcelona,weather_light rain_Barcelona,weather_others_Barcelona,weather_scattered clouds_Barcelona,weather_sky is clear_Barcelona,temp_Bilbao,temp_min_Bilbao,temp_max_Bilbao,pressure_Bilbao,humidity_Bilbao,wind_speed_Bilbao,wind_deg_Bilbao,rain_1h_Bilbao,rain_3h_Bilbao,snow_3h_Bilbao,clouds_all_Bilbao,weather_broken clouds_Bilbao,weather_few clouds_Bilbao,weather_light rain_Bilbao,weather_others_Bilbao,weather_scattered clouds_Bilbao,weather_sky is clear_Bilbao,temp_Madrid,temp_min_Madrid,temp_max_Madrid,pressure_Madrid,humidity_Madrid,wind_speed_Madrid,wind_deg_Madrid,rain_1h_Madrid,rain_3h_Madrid,snow_3h_Madrid,clouds_all_Madrid,weather_broken clouds_Madrid,weather_few clouds_Madrid,weather_light rain_Madrid,weather_others_Madrid,weather_scattered clouds_Madrid,weather_sky is clear_Madrid,temp_Seville,temp_min_Seville,temp_max_Seville,pressure_Seville,humidity_Seville,wind_speed_Seville,wind_deg_Seville,rain_1h_Seville,rain_3h_Seville,snow_3h_Seville,clouds_all_Seville,weather_broken clouds_Seville,weather_few clouds_Seville,weather_light rain_Seville,weather_others_Seville,weather_scattered clouds_Seville,weather_sky is clear_Seville,temp_Valencia,temp_min_Valencia,temp_max_Valencia,pressure_Valencia,humidity_Valencia,wind_speed_Valencia,wind_deg_Valencia,rain_1h_Valencia,rain_3h_Valencia,snow_3h_Valencia,clouds_all_Valencia,weather_broken clouds_Valencia,weather_few clouds_Valencia,weather_light rain_Valencia,weather_others_Valencia,weather_scattered clouds_Valencia,weather_sky is clear_Valencia
time,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2014-12-31 23:00:00+00:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41,281.625,281.625,281.625,1035.0,100.0,7.0,58.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,269.657312,269.657312,269.657312,1036.0,97.0,0.0,226.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,267.325,267.325,267.325,971.0,63.0,1.0,309.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,273.375,273.375,273.375,1039.0,75.0,1.0,21.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,270.475,270.475,270.475,1001.0,77.0,1.0,62.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2015-01-01 00:00:00+00:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92,281.625,281.625,281.625,1035.0,100.0,7.0,58.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,269.763500,269.763500,269.763500,1035.0,97.0,0.0,229.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,267.325,267.325,267.325,971.0,63.0,1.0,309.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,273.375,273.375,273.375,1039.0,75.0,1.0,21.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,270.475,270.475,270.475,1001.0,77.0,1.0,62.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2015-01-01 01:00:00+00:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48,281.286,281.286,281.286,1036.0,100.0,7.0,48.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,269.251688,269.251688,269.251688,1036.0,97.0,1.0,224.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,266.186,266.186,266.186,971.0,64.0,1.0,273.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,274.086,274.086,274.086,1039.0,71.0,3.0,27.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,269.686,269.686,269.686,1002.0,78.0,0.0,23.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2015-01-01 02:00:00+00:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,75.0,50.0,191.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32,281.286,281.286,281.286,1036.0,100.0,7.0,48.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,269.203344,269.203344,269.203344,1035.0,97.0,1.0,225.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,266.186,266.186,266.186,971.0,64.0,1.0,273.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,274.086,274.086,274.086,1039.0,71.0,3.0,27.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,269.686,269.686,269.686,1002.0,78.0,0.0,23.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2015-01-01 03:00:00+00:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,43.0,74.0,42.0,189.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04,281.286,281.286,281.286,1036.0,100.0,7.0,48.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,269.485500,269.485500,269.485500,1035.0,97.0,1.0,221.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,266.186,266.186,266.186,971.0,64.0,1.0,273.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,274.086,274.086,274.086,1039.0,71.0,3.0,27.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,269.686,269.686,269.686,1002.0,78.0,0.0,23.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 18:00:00+00:00,297.0,0.0,7634.0,2628.0,178.0,1.0,1135.0,4836.0,6073.0,63.0,95.0,85.0,277.0,3113.0,96.0,3253.0,30619.0,30653.0,68.85,77.02,284.130,282.150,286.150,1027.0,71.0,1.0,250.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,281.260000,280.150000,282.150000,1033.0,93.0,0.0,57.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,283.560,282.150,285.150,1030.0,88.0,1.0,280.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,287.760,287.150,288.150,1028.0,54.0,3.0,30.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,285.640,285.150,286.150,1028.0,62.0,2.0,140.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2018-12-31 19:00:00+00:00,296.0,0.0,7241.0,2566.0,174.0,1.0,1172.0,3931.0,6074.0,62.0,95.0,33.0,280.0,3288.0,51.0,3353.0,29932.0,29735.0,68.40,76.16,282.640,281.150,284.150,1027.0,62.0,3.0,270.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,279.810000,278.150000,281.150000,1034.0,93.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,280.120,278.150,281.150,1031.0,52.0,1.0,260.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,285.760,285.150,286.150,1029.0,62.0,3.0,30.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,283.140,282.150,284.150,1029.0,71.0,1.0,242.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2018-12-31 20:00:00+00:00,292.0,0.0,7025.0,2422.0,168.0,50.0,1148.0,2831.0,6076.0,61.0,94.0,31.0,286.0,3503.0,36.0,3404.0,27903.0,28071.0,66.88,74.30,282.140,280.150,284.150,1028.0,53.0,4.0,300.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,277.150000,277.150000,277.150000,1034.0,100.0,1.0,140.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,278.150,278.150,278.150,1030.0,65.0,1.0,340.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,285.150,285.150,285.150,1028.0,58.0,4.0,50.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,281.660,281.150,282.150,1029.0,81.0,3.0,300.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2018-12-31 21:00:00+00:00,293.0,0.0,6562.0,2293.0,163.0,108.0,1128.0,2068.0,6075.0,61.0,93.0,31.0,287.0,3586.0,29.0,3273.0,25450.0,25801.0,63.93,69.89,281.130,278.150,284.150,1028.0,50.0,5.0,320.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,276.600000,276.150000,277.150000,1034.0,93.0,1.0,120.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,276.570,276.150,277.150,1031.0,69.0,2.0,340.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,284.150,284.150,284.150,1029.0,57.0,4.0,60.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,280.140,279.150,281.150,1029.0,81.0,2.0,310.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2018-12-31 22:00:00+00:00,290.0,0.0,6926.0,2166.0,163.0,108.0,1069.0,1686.0,6075.0,61.0,92.0,31.0,287.0,3651.0,26.0,3117.0,24424.0,24455.0,64.27,69.88,280.130,277.150,283.150,1028.0,100.0,5.0,310.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,275.600000,275.150000,276.150000,1034.0,93.0,2.0,100.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,275.150,275.150,275.150,1031.0,74.0,1.0,360.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,283.970,282.150,285.150,1029.0,70.0,3.0,50.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,279.140,278.150,280.150,1029.0,75.0,2.0,300.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1

In [69]:
# There is no NA value 
print('There are {} missing values or NaNs in df_final.'
      .format(df_final.isnull().values.sum()))

There are 0 missing values or NaNs in df_final.

In [70]:
df_final.to_csv('df_final.csv', index=False)